@model DepartmentVM
@{
    ViewBag.Title = "DetailDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>DetailDepartment</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman Adi= @ViewBag.departmentName</li>
</ol>

<br />
<table class="table table-hover">
    <tr>
        <th>Personel Ado Soyadı</th>
        <th>Satışlar</th>
    </tr>
    <tbody>
        @foreach (Employee item in Model.Employees)
        {
            <tr>
                <td>@item.FirstName @item.LastName</td>
                <td>
                    @Html.ActionLink("Satislar", "DepartmentEployeeSales", new {id=item.ID },new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>

</table>
