@model DepartmentVM
@{
    ViewBag.Title = "UpdateDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Departman Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Department.ID);
    @Html.Label("Departman Adı");
    @Html.TextBoxFor(x => x.Department.Name, new { @class = "form-control" });
    @Html.ValidationMessage("Name", "",new {@style="color:red" });
    <br />

    <button class="btn btn-danger" style="background-color:yellowgreen">Güncelle</button>
}



