@model CategoryVM
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Kategori Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Kategori Adi")
        @Html.TextBoxFor(x => x.Category.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessage("CategoryName", "", new { @style = "color:red" })

        @Html.HiddenFor(x => x.Category.ID)

    </div>

    <button class="btn btn-warning" style="background-color:yellowgreen;"> Güncelle</button>
}
